label {
	padding: 2px;
}

.custom {
	margin-right: 5px;
}

#box {
	height: 40px; 
}

.theBG {
	background-color: #efefef;
}

.orange {
	background-color: #c3c533;
}

.blue {
	background-color: #575757;
}


/** Show different colours when an error occurs in the form mb **/

#mb input.ng-invalid.ng-dirty {
background-color: #FA787E;
}

#mb input.ng-valid.ng-dirty {
background-color: #78FA89;
}